<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <title>Errol Vogt</title>
  <link href="/static/style.css" rel="stylesheet" />
</head>
<body>
<div id="main-container">

    <!-- Begin -->

    <div id="header-container">
    /home/Errol : zsh - Console
    </div>

    <!-- Section -->

    <div class="body-container">

        <div class="headline">

            <img src="/static/oskar.png" alt="Errol Vogt">
            <p>Hello, welcome to my site.</p>
            <p>I'm Errol. I am a versatile IT professional with strong technical abilities, adept at learning new skills, programming, as well as providing support or troubleshooting for software and operating systems.</p>
            <p>I am interested in many things, such as programming, machine learning, cybersecurity, and generally anything that is making a significant impact in the world in a positive way. Also, golf.</p>

        </div>

    </div>

    <!-- Section -->
    <div class="section-header">Skills and Experience</div>

    <div class="body-container">

        <div class="skills">

            <p>Throughout my journey I have gained experience with a multitude of skills and feel confident using them.</p>

            <table>
                <tr>
                    <td>
                        <ul>
                            <li>Python</li>
                            <li>Shell Scripting</li>
                            <li>CSS</li>
                            <li>PHP</li>
                            <li>Strapi API</li>
                            <li>LAMP Stacks</li>
                            <li>jinja</li>
                            <li>Frontend/Backend</li>
                            <li>Active Directory</li>
                            <li>Service Desk</li>
                            <li>Sourcing Products</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Wireshark</li>
                            <li>SIEM</li>
                            <li>Information Security</li>
                            <li>SQL</li>
                            <li>Linux</li>
                            <li>OWASP</li>
                            <li>Burpsuite</li>
                            <li>Privilege Escalation</li>
                            <li>OSINT</li>
                            <li>Basic Pentesting</li>
                            <li>Kerberos</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <div class="bottom-margin-10px">
                <div class="thm-badge"><script src="https://tryhackme.com/badge/1114953"></script></div>
                <p>I've completed many rooms on TryHackMe, and am currently in the top 1% of users there as well. I have also achieved hacker rank on HackTheBox, although I haven't spent even close to as much time practicing there.</p>
            </div>

        </div>

    </div>

    <!-- Section -->
    <div class="section-header">Certifications/Educations</div>

    <div class="body-container">

        <h4>Introduction to Computer Science and Programming in Computer Science</h4>

        <p>An introduction to computer science as a tool to solve real-world analytical problems using Python 3.5.</p>

        <h4>Intro to Computer Security</h4>

        <p>A broad introduction to the different areas in Computer Security.</p>

        <h4>Jr. Penetration Tester</h4>

        <p>Demonstrated the practical skills necessary to perform security assessments against web applications and enterprise infrastructure.</p>

        <h4>CompTIA Pentest+ Path</h4>

        <p>Practiced the majority of practical skills required for the CompTIA PenTest+.</p>

        <h4>Offensive Pentesting</h4>

        <p>Experience with security tools, reconnaissance, exploitation techniques, vulnerability scanning, network and Windows exploitation, cryptography, advanced computer exploitation, and computing fundamentals.</p>

    </div>

    <!-- Section -->
    <div class="section-header">Contact Me</div>

    <div class="body-container">

        <form action="#" method="">
        <table class="form">
            <tr>
                <td class="left-col">
                    <input type="text" id="name" name="user_name" required placeholder="Name" value="">
                </td>
                <td class="right-col">
                    <input type="text" id="subject" name="email_subject" required placeholder="Subject" value="">
                </td>
            </tr>
            <tr>
                <td class="left-col">
                    <input type="email" id="email" name="user_email" required placeholder="Email" value="">
                </td>
                <td class="right-col">
                    <textarea id="message" name="user_message" required placeholder="Email message" value=""></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="submit">
                    <button id="submit" type="submit">Send</button>
                </td>
            </tr>
        </table>
        </form>

    </div>

    <div id="footer-container">
        Copyright © 2023 Errol Vogt. Some rights reserved.
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>