<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <title>Errol Vogt</title>
  <link href="/static/style.css" rel="stylesheet" />
</head>
<body>
<div id="main-container">

    <!-- Begin -->
    <div id="header-container">
    /home/index.html : zsh - Console
    </div>

    <!-- Section -->
    <div class="body-container">

        <h3>Hi, {{ name.title() }}</h3>

        <p>You are {{ age }} years old.</p>

    </div>

    <!-- Footer -->
    <div id="footer-container">
        {{ footer_copyright }}
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>